In [34]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# 1) FoodTruck.csv question

In [35]:
df = pd.read_csv("Foodtruck.csv")
df

    Population    Profit
0       6.1101  17.59200
1       5.5277   9.13020
2       8.5186  13.66200
3       7.0032  11.85400
4       5.8598   6.82330
..         ...       ...
92      5.8707   7.20290
93      5.3054   1.98690
94      8.2934   0.14454
95     13.3940   9.05510
96      5.4369   0.61705

[97 rows x 2 columns]

In [36]:
feature = df['Population'].values
label = df['Profit'].values

In [37]:
feature_train,feature_test,label_train,label_test = train_test_split(feature,label,test_size=0.2,random_state=42)

In [38]:
regressor = LinearRegression()

In [39]:
feature_train = feature_train.reshape(77,1)
feature_test = feature_test.reshape(20,1)

In [40]:
regressor.fit(feature_train,label_train)

LinearRegression()

In [41]:
print(regressor.score(feature_test, label_test))

0.500344113338578

In [42]:
pred = regressor.predict(feature_test)

In [43]:
pd.DataFrame(zip(pred,label_test))

            0         1
0   22.664927  17.92900
1    2.229142   0.55657
2    2.098457   1.98690
3    3.545897   3.65180
4    1.947817   0.20421
5    7.845085   7.54350
6   19.677860  17.05400
7   10.341989   5.38540
8    2.620293   3.25220
9    3.134532  17.59200
10   3.751644   5.99660
11   3.698212   0.29678
12   2.737072   1.84400
13  11.784021  13.50100
14   5.342129   6.73180
15   2.812263   6.82330
16   2.336264   4.26300
17   2.650292   3.15510
18   1.781725   2.82140
19   4.571156   3.34110

In [44]:
ans = regressor.predict([[3.073]])

In [55]:
print("Profit is in negative, so it will give loss to start the buisness in this Jaipur. Predicted loss can be "+str(round(ans[0]*-1,3))+" Mn")

Profit is in negative, so it will give loss to start the buisness in this Jaipur. Predicted loss can be 0.776 Mn

# 2) Cars.csv question

In [46]:
df = pd.read_csv("cars.csv")
df

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
0,17314.10313,8221.0,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,1
1,17542.03608,9135.0,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
2,16218.84786,13196.0,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
3,16336.91314,16342.0,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,0
4,16339.17032,NaN,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
692,33183.33260,9795.0,SAAB,9_5,Arc Sedan 4D,Sedan,4,2.3,4,1,1,1
693,31002.73442,15087.0,SAAB,9_5,Arc Sedan 4D,Sedan,4,2.3,4,1,1,1
694,30075.99473,22052.0,SAAB,9_5,Arc Sedan 4D,Sedan,4,2.3,4,1,1,1
695,29844.20400,23143.0,SAAB,9_5,Arc Sedan 4D,Sedan,4,2.3,4,1,1,1
696,28432.82421,25247.0,SAAB,9_5,Arc Sedan 4D,Sedan,4,2.3,4,1,1,1

In [47]:
train_df,test_df = train_test_split(df,test_size=0.2,random_state=1)

In [48]:
train_df.to_csv('cars_train.csv')
test_df.to_csv('cars_test.csv')